.pp-facebook {
	background: url("../img/facebook-sprite.png") no-repeat scroll 0 -30px;
	background-color: #ECEEF5;
	border-color: #CAD4E7;
	border: 1px solid;
	border-radius: 3px 3px 3px 3px;
	display: block;
	float: left;
	padding: 4px 17px;
	height: 10px;
	color: #3B5998;
	cursor: pointer;
	text-decoration: none;
	border-spacing: 0;
	font-size: 11px;
	line-height: normal;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}