.pp-reddit {
	display: inline-block;
	padding: 0 3px 0 22px;
	color: #333333;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: baseline;
	font: 12px "Helvetica Neue",Arial,sans-serif;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(50, 50, 50, 0.5);

	background: url("../img/reddit.gif"), #7CB0DE;//-moz-linear-gradient(center top, #7CB0DE 2%, #146AB5 100%);
	background: url("../img/reddit.gif"), #7CB0DE;//-webkit-gradient(linear, 0 0, 0 100%, from(#7CB0DE), to(#146AB5));
	background-repeat: no-repeat;

	border: 1px solid #333333;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	float: left;
	height: 15px;
	width: 50px;
	outline: medium none;
	position: relative;
}